{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row mb-2">
        <div class="col-md-12">
            <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
        </div>
    </div>
    <div class="row equal">
        {% for task in tasks %}
        <div class="col-sm-6 col-lg-4 col-md-4">
            <div class="thumbnail {% if task.isDone %}task-is-done{% else %}task-is-not-done{%  endif %}">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}<span class="glyphicon glyphicon-ok text-success"></span>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}
                    </h4>
                    <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                    <p>{{ task.content }}</p>
                </div>
                <div class="task-actions">
                    <a href="{{ path('task_edit', {'id' : task.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}" method="post">
                        <button class="btn btn-success btn-sm">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    {%  if app.user == task.user or (task.user.email == 'anonymous@anonymous.com' and is_granted('ROLE_ADMIN')) %}
                        <form action="{{ path('task_delete', {'id' : task.id }) }}" method="post">
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    {% endif %}
                    <div class="author">
                        <strong class="author-label">Auteur :</strong>
                        {% if task.user %}
                            {{ task.user.username }}
                        {% else %}
                            Anonyme
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    Il n'y a pas encore de tâche enregistrée.
                </div>
            </div>
        {% endfor %}

        {% if numberOfPages > 1 %}
            {% include 'task/components/pagination.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
