{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-inline" method="post">
        <div class="form-group mr-2">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ last_username }}" required autofocus/>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group mr-2">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" class="form-control" name="password" required/>
        </div>
        <button type="submit" class="btn btn-success">Se connecter</button>
    </form>
{% endblock %}
